@import "../utils.scss";

.chat_list_item_cont{
    //border: 1px solid red;
    display: flex;
    //justify-content: space-between;
    //align-items: center;
    padding: 5px;
    .image_cont{
        //border: 1px solid violet;
        display: grid;
        place-items: center;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .chat_info_cont{
        //border: 1px solid rgb(49, 49, 255);
        display: flex;
        flex: 1;
        margin-left: 5px;
        align-items: center;
        cursor: pointer;
        //border-bottom: 1px solid $grayHover;
        .chat_name_cont{
            //border: 1px solid rgb(0, 213, 255);
            flex: 1;
            text-align: left;
            .chat_name{
                //border: 1px solid rgb(38, 255, 0);
                font-size: 1rem;
                text-wrap: nowrap;
                width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                //white-space:nowrap;
            }
            .last_message{
                //border: 1px solid red;
                font-size: 0.7rem;
                text-wrap: nowrap;
                width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                //white-space:nowrap;
            }
        }
        .date_cont{
            //border: 1px solid green;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 0.6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $grayDark;
            //position: relative;
            .BiSolidDownArrow{
                font-size: 1.3rem;
                padding: 3px;
                border-radius: 4px;
                transition: 0.3s;
                &:hover{
                    color: $primaryLight;
                    background-color: $grayDark;
                }
            }
        }
        .icons_cont{
            //border: 1px solid blueviolet;
            display: flex;

            .icon{
                font-size: 1.3rem;
                //color: $grayDark;
                margin-right: 10px;
                padding: 1px;
                border-radius: 50%;
                background: white;

                &:hover{
                    //background-color: $grayDark;
                    color: white;
                }
            }
            .CgRemove{
                color: red;
                &:hover{
                    background-color: red;
                }
            }
            .CgAdd{
                color:green;
                &:hover{
                    background-color: green;
                }
            }
        }
    }
}


@media screen and (width <= 680px) {
    .chat_list_item_cont{
        width: 96%;
        .image_cont{
            width: 50px;
            height: 50px;
        }
        .chat_info_cont{
            .chat_name_cont{
                .chat_name{
                    font-size: 0.7rem;
                    width: 60px;
                }
                .last_message{
                    font-size: 0.6rem;
                    width: 60px;
                }
            }
            .date_cont{
            }
            .icons_cont{
                .icon{
                    font-size: 0.9rem;
                }
                .CgRemove{
                }
                .CgAdd{
                }
            }
        }
    }
}