@import "../utils.scss";

.user_list_cont{
    //border: 2px solid red;
    height: 100vh;
    flex:1;
    position: relative;
    .heading{
        //border: 1px solid rgb(0, 208, 255);
        height: 10%;
        color: $grayLighter;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        gap: 10px;
        .back_icon{
            //border: 1px solid red;
            background: transparent;
            border: none;
            outline: none;
            color: $grayLighter;
            cursor: pointer;
        }
        .value{
            //border: 1px solid greenyellow;
            font-weight: 500;
        }
    }
    .users_list{
        //border: 1px solid rgb(0, 255, 149);
        height: 90%;
        overflow-y: scroll;
        .users_list_scrollable{
            //border: 2px solid violet;
        }
    }
    .submit_btn{
        //border: 1px solid red;
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: $grayLighter;
        border-radius:50%;
        //display: grid;
        //place-items:center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: $primary;
        transition: 0.3s;
        border: 2px solid white;
        .selection_count{
            font-size: 0.74rem;
            color: white;
            font-weight: 600;
        }
        .BiRightArrowAlt{
            //border: 1px solid greenyellow;
            font-size: 1.3rem;
            color: white;
        }
    }
}