@import "../utils.scss";

.messages_cont{
    //border: 1px solid orange;
    .incomming_message_cont{
        //border: 1px solid blue;
        width: fit-content;
        max-width: 45%;
        display: flex;
        align-items: flex-end;
        padding: 5px;
        border-radius:0 10px 10px 10px;
        margin: 10px;
        text-align: justify;
        background: $grayDark;
        .content{
            //border: 1px solid violet;
            font-size: 0.7rem;
            color: $grayLighter;
            margin-bottom: 5px;
            width: 88%;
        };
        .date{
            //border: 1px solid indigo;
            font-size: 0.5rem;
            color: $grayLight;
            margin-top: 5px;
            width: 12%;
            min-width: 40px;
            margin-left: 4px;
        }
    }
    .outgoing_message_cont{
        //border: 1px solid red;
        width: fit-content;
        max-width: 45%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 5px;
        border-radius:10px 0 10px 10px;
        margin: 10px 10px 10px auto;
        text-align: justify;
        background: $grayDark;
        .content{
            //border: 1px solid violet;
            font-size: 0.7rem;
            color: $grayLighter;
            margin-bottom: 5px;
            width: 88%;
        };
        .date{
            //border: 1px solid indigo;
            font-size: 0.5rem;
            color: $grayLight;
            margin-top: 5px;
            width: 12%;
            min-width: 40px;
            margin-left: 4px;
        }
    }
    .default_message_cont{
        //border: 1px solid white;
        width: max-content;
        max-width: 45%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 5px;
        border-radius:10px;
        margin: 10px auto;
        text-align: justify;
        background: $primaryLight;
        .content{
            //border: 1px solid violet;
            font-size: 0.7rem;
            color: $grayDarker;
            margin-bottom: 5px;
            width: 88%;
        };
        .date{
            //border: 1px solid indigo;
            font-size: 0.5rem;
            color: $grayDarker;
            margin-top: 5px;
            width: 12%;
            min-width: 40px;
            margin-left: 4px;
        }
    }
}