@import "../utils.scss";

.messages_cont{
    //border: 2px solid rgb(0, 110, 255);
    //display: flex;
    position: relative;
    
    .incomming_message_cont_outer{
        //border: 2px solid rgb(30, 255, 30);
        display: flex;
        .include_message_checkbox{
            transform: scale(0, 1);
            transition: 0.5s;
        }
        .incomming_message_cont{
            //border: 1px solid blue;
            width: fit-content;
            max-width: 45%;
            display: flex;
            align-items: flex-end;
            padding: 5px;
            border-radius:0 10px 10px 10px;
            margin: 10px;
            text-align: justify;
            background: $grayDark;
            //position: relative;
            .content{
                //border: 1px solid violet;
                font-size: 0.7rem;
                color: $grayLighter;
                margin-bottom: 5px;
                width: 88%;
            }
            .date{
                //border: 1px solid indigo;
                font-size: 0.5rem;
                color: $grayLight;
                margin-top: 5px;
                width: 12%;
                min-width: 40px;
                margin-left: 4px;
            }
            .message_options_cont{
                //border: 1px solid rgb(0, 255, 0);
                //position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                border-radius: 20px 0 0 20px;
                background-color: $grayDarker;
                //text-align: right;
                display: none;
                place-items: center;
                .BiDownArrow{
                    color:$grayLighter;
                    cursor: pointer;
                }
            }
        }
    }
    .outgoing_message_cont_outer{
        //border: 2px solid rgb(30, 255, 30);
        display: flex;
        .include_message_checkbox{
            transform: scale(0, 1);
            transition: 0.5s;
        }
        .outgoing_message_cont{
            //border: 1px solid red;
            width: fit-content;
            max-width: 45%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 5px;
            border-radius:10px 0 10px 10px;
            margin: 10px 10px 10px auto;
            text-align: justify;
            background: $grayDark;
            //position: relative;
            .content{
                //border: 1px solid violet;
                font-size: 0.7rem;
                color: $grayLighter;
                margin-bottom: 5px;
                width: 88%;
            }
            .date{
                //border: 1px solid indigo;
                font-size: 0.5rem;
                color: $grayLight;
                margin-top: 5px;
                width: 12%;
                min-width: 40px;
                margin-left: 4px;
            }
            .message_options_cont{
                //border: 1px solid rgb(0, 255, 0);
                //position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                border-radius: 20px 0 0 20px;
                background-color: $grayDarker;
                //text-align: right;
                display: none;
                place-items: center;
                .BiDownArrow{
                    color:$grayLighter;                
                    cursor: pointer;
                }
            }
        }
    }
    .outgoing_attachment_cont_outer{
        //border: 2px solid rgb(30, 255, 30);
        display: flex;
        .include_message_checkbox{
            transform: scale(0, 1);
            transition: 0.5s;
        }
        .outgoing_attachment_cont{
            //border: 1px solid red;
            width: fit-content;
            max-width: 45%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 5px;
            border-radius:10px 0 10px 10px;
            margin: 10px 10px 10px auto;
            text-align: justify;
            background: $grayDark;
            //position: relative;
            .content{
                //border: 1px solid violet;
                font-size: 0.7rem;
                color: $grayLighter;
                margin-bottom: 5px;
                width: 88%;
                img{
                    border-radius: 4px;
                }
            }
            .date{
                //border: 1px solid indigo;
                font-size: 0.5rem;
                color: $grayLight;
                margin-top: 5px;
                width: 12%;
                min-width: 40px;
                margin-left: 4px;
            }
            .message_options_cont{
                //border: 1px solid rgb(0, 255, 0);
                //position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                border-radius: 20px 0 0 20px;
                background-color: $grayDarker;
                //text-align: right;
                display: none;
                place-items: center;
                .BiDownArrow{
                    color:$grayLighter;                
                    cursor: pointer;
                }
            }
        }
    }
    .default_message_cont{
        //border: 1px solid white;
        width: max-content;
        max-width: 45%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 5px;
        border-radius:10px;
        margin: 10px auto;
        text-align: justify;
        background: $primaryLight;
        //position: relative;
        .content{
            //border: 1px solid violet;
            font-size: 0.7rem;
            color: $grayDarker;
            margin-bottom: 5px;
            width: 88%;
        }
        .date{
            //border: 1px solid indigo;
            font-size: 0.5rem;
            color: $grayDarker;
            margin-top: 5px;
            width: 12%;
            min-width: 40px;
            margin-left: 4px;
        }
        .message_options_cont{
            //border: 1px solid rgb(0, 255, 0);
            //position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            border-radius: 20px 0 0 20px;
            background-color: $grayDarker;
            //text-align: right;
            display: none;
            place-items: center;
            .BiDownArrow{
                color:$grayLighter;                
                cursor: pointer;
            }
        }
    }
    .cancel_message_selection_cont{
        //border: 2px solid rgb(39, 39, 255);
        display: none;
        justify-content: space-between;
        position: sticky;
        bottom: 0;
        padding: 0 10px;
        height: 55px;
        align-items: center;
        background-color: $grayDark;
        .icon{
            //border: 2px solid violet;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
            &:hover{
                background: $grayHover;
            }
            .FcCancel{
                color: $grayLight;
            }
            .CgRemove{
                color: $grayLight;
            }
        }
        .selected_messages_count{
            //border: 1px solid red;
            color: $grayLight;
            flex: 1;
            text-align: left;
            padding-left: 20px;
            font-size: 0.8rem;
        }
    }
}