@import "../utils.scss";

.profile_cont{
    //border: 2px solid rgb(47, 255, 120);
    flex:1;
    height: 100vh;
    background: $grayDarker;
    
    .profile_section_header{
        //border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        //margin: 0 10px;
        padding: 0 10px;
        .heading{
            //border: 1px solid yellow;
            color: $grayLighter;
            font-weight: 600;                
        }
        .icons{
            //border: 1px solid orange;
            color: $grayLighter;
            display: flex;
            gap: 20px;

            .icon{
                //border: 1px solid green;
                background: transparent;
                color: $grayLight;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                margin: 5px auto;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                &:hover{
                    background: $grayHover;
                }
            }
        }
    }
    .search_section{
        //border: 2px solid red;
        height: 38%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        .my_dp_cont{
            //border: 1px solid greenyellow;
            height: 170px;
            width: 170px;
            margin: 0 auto;
            border-radius: 50%;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    .profile_section{
        //border: 2px solid orange;
        height: 52%;
        overflow-y: scroll;
        background: transparent;
        .profile_section_scrollable{
            //border: 2px solid rgb(0, 115, 255);
            padding:5px 15px;
            .profile_info{
                //border: 1px solid seagreen;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .profile_name_value{
                    //border: 1px solid purple;
                    width:80%;
                    
                }
                .profile_edit_icon{
                    //border: 1px solid orange;
                    .MdEdit{
                        color: $primary;
                        font-size: 1.1rem;
                        margin-top:4px;
                    }
                }
            }
        }
    }
}

@media screen and (width <= 680px) {
    .profile_cont{   
        .profile_section_header{
            
            .heading{
                //border: 1px solid yellow;
                
            }
            .icons{
            }
        }
        .search_section{
        }
        .profile_section{
        }
    }
}
@media screen and (width <= 560px) {
    .profile_cont{
        
        .profile_section_header{
            
            .heading{
                //border: 1px solid yellow;
                
            }
            .icons{
            }
        }
        .search_section{
        }
        .profile_section{
        }
    }
}
@media screen and (width <= 360px) {
    .profile_cont{
        height: 90vh;
        
        .profile_section_header{
            height: 10%;
            
            .heading{
            }
            .icons{
            }
        }
        .search_section{
        }
        .profile_section{
            height: 60%;
            font-size: 0.8rem;
        }
    }
}