@import "../utils.scss";


.received_friend_requests_cont{
    //border: 2px solid red;
    height: 100vh;
    flex:1;
    position: relative;
    padding: 6px;
    .received_friend_requests{
        //border: 1px solid rgb(0, 255, 149);
        height: 90%;
        overflow-y: scroll;
        .received_friend_requests_scrollable{
            //border: 2px solid violet;
        }
    }
}