

.spinner_cont{
    border: 2px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
}