@import "./utils.scss";
#root {
  //border: 2px solid blue;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: poppins;
  height: 100vh;
  background-color: $grayDarker;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
}