
$primary:#ff4b69;
$primaryDark:#c43b52;
$primaryDarker:#190004;
$primaryLight:#ff8a9d;
$PrimaryTealish:#0080805b;
$blue:#34b7f1;
$grayLighter:#e1e1e1;
$grayLight:#939393;
$grayHover:#373737;
$grayDark:#252525;
$grayDarker:#1c1c1c;


.button_util{
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background: $primaryDark;
    
    &:hover{
        background: $primary;
    }
}
.search_cont{
    //border: 2px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
    background: $grayDark;
    border-radius: 10px;
    .search_icon{
        //border: 1px solid blue;
        margin-left: 4px;
        position: relative;

        .BiSearch{
            //border: 1px solid white;
            position: absolute;
            display: grid;
            place-items: center;
            color: $grayLight;
            top: -8px;
            left: 4px;
            transition: 0.5s;
        }
        .FaArrowLeftLong{
            position: absolute;
            display: grid;
            place-items: center;
            color: $primary;
            top: -8px;
            left: 4px;
            transition: 0.5s;
            opacity: 0;
            rotate: 180deg;
        }
    }
    input{
        min-width: 70%;
        background: transparent;
        border: none;
        //border: 1px solid greenyellow;
        outline: none;
        color: $grayLighter;
    }
    .search_icon{
        //border: 1px solid blue;
        margin-left: 4px;
        position: relative;
        .IoMdClose{
            //border: 1px solid white;
            position: absolute;
            display: grid;
            place-items: center;
            color: $grayLight;
            top: -8px;
            right: 4px;
            transition: 0.5s;
            opacity: 0;
        }
    }
}
.tooltip_dialog{
    //border: 1px solid red;
    border-radius: 8px;
    padding: 5px 6px;
    font-size: 0.7rem;
    background: white;
    color: black;
    border: none;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
}

@media screen and (width <= 360px) {
    .tooltip_dialog{
        //border: 1px solid red;
        border-radius: 8px;
        padding: 5px 6px;
        font-size: 0.7rem;
        background: white;
        color: black;
        border: none;
        transition: 0.3s;
        opacity: 0;
        z-index: -1;
        display: none;
    }
}






//------------------------------ WhatsApp --------------------------------
//$primary:#25d366;
//$primaryDark:#075e54;
//$primaryDarker:#1c1e21;
//$primaryLight:#dcf8c6;
//$PrimaryTealish:#128c7e;
//$blue:#34b7f1;
//$gray:#ece5dd;
//$grayDark:#3b3b3b;
